{% extends 'IdeasBundle::base.html.twig' %}

{% block body %}
    <!-- Portfolio Item Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{{ idea_title }}
                {% if idea_subtitle is defined %}
                    <small>{{ idea_subtitle }}</small>
                {% endif %}
            </h1>
        </div>
    </div>
    <!-- /.row -->

    <!-- Portfolio Item Row -->
    <div class="row">

        <div class="col-md-8">
            <img class="img-responsive" src="{{ asset('uploads/ideas_images/')~ idea.image }}" alt="{{ idea_title }}">
        </div>

        <div class="col-md-4">
            <h3>{{ idea_title }}</h3>
            <p>{{ idea_description }}</p>
            {% if idea.idea_descriptions_items is defined %}
                <h3>Project Details</h3>
                <ul>
                    <li>Lorem Ipsum</li>
                    <li>Dolor Sit Amet</li>
                    <li>Consectetur</li>
                    <li>Adipiscing Elit</li>
                </ul>
            {% endif %}

            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('ideas_update', {'idea_id': idea_id}) }}" class="btn btn-default btn-sm">Edit</a>
                <a href="{{ path('ideas_remove', {'idea_id': idea_id}) }}" class="btn btn-danger btn-sm">Remove</a>
            {% endif %}

        </div>

    </div>
    <!-- /.row -->

    <!-- Related Projects Row -->
    {% if related_projects is defined %}
        <div class="row">

            <div class="col-lg-12">
                <h3 class="page-header">Related Projects</h3>
            </div>

                {% for related_project in related_projects %}
                    <div class="col-sm-3 col-xs-6">
                        <a href="#">
                            <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">
                        </a>
                    </div>
                {% endfor %}

        </div>
    <!-- /.row -->
    {% endif %}


{% endblock %}