{% extends 'IdeasBundle::base.html.twig' %}

{% block title %}Overview{% endblock %}

{% block body %}

    <h1 class="page-header">Overview</h1>

    <div class="row placeholders">
        {% for idea in ideas %}

            <div class="col-xs-6 col-sm-3 placeholder">
                <a href="{{ path('ideas_show', {'idea' : idea.id}, []) }}">
                    <img src="{{ asset('uploads/ideas_images/' ~ idea.image) }}" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
                    <h4>{{idea.title}}</h4>
                    <span class="text-muted">{{idea.description}}</span>

                    {% if is_granted('ROLE_ADMIN') %}
                        <div>
                            <a href="{{ path('ideas_update', {'idea_id': idea.id}) }}" class="btn btn-default btn-sm">Edit</a>
                            <a href="{{ path('ideas_remove', {'idea_id': idea.id}) }}" class="btn btn-danger btn-sm">Remove</a>
                        </div>
                    {% endif %}

                    Veronika
                </a>
            </div>

        {% endfor %}
    </div>

    {% if section is defined %}
        <h2 class="sub-header">Section title</h2>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Header</th>
                        <th>Header</th>
                        <th>Header</th>
                        <th>Header</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1,001</td>
                        <td>Lorem</td>
                        <td>ipsum</td>
                        <td>dolor</td>
                        <td>sit</td>
                    </tr>
                </tbody>
            </table>
        </div>
    {% endif %}

{% endblock %}