{% extends 'IdeasBundle::base.html.twig' %}

{% block title %}Edit idea{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/form.js') }}"></script>
{% endblock %}

{% form_theme form 'IdeasBundle::forms/form_label.html.twig' %}

{% block body %}
    {{ form_start(form) }}

    {{ form_row(form.title) }}
    {{ form_row(form.description) }}
    {{ form_row(form.attractiveness) }}

    {{ form_errors(form.keywords) }}
    {{ form_label(form.keywords)}}
     <ul class="keywords" data-prototype="{{ form_widget(form.keywords.vars.prototype)|e('html_attr') }}">
        {% for keyword in form.keywords %}
            <li>{{ form_row(keyword.name) }}</li>
            {{ form_widget(form.keywords.vars.prototype.name)|e }}
        {% endfor %}
    </ul>

    {{ form_row(form.created_at) }}
    {{ form_row(form.image) }}


    {{ form_row(form.save) }}

    {{ form_end(form, {'render_rest': false}) }}

{% endblock %}